.indexPage{
  background: #a2c7d7;
  height: 100vh;

  .title{
    color: #fff;
    padding-top: 48px;
    text-align: center;
  }

  .subTitle{
    color: #fff;
    margin-bottom: 48px;
  }

}

.enterBtn {
  width: 60vw;
}
