<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.AppMapper">

    <resultMap id="BaseResultMap" type="com.answer.model.entity.App">
            <id property="id" column="id" />
            <result property="appName" column="app_name" />
            <result property="appDesc" column="app_desc" />
            <result property="appIcon" column="app_icon" />
            <result property="appType" column="app_type" />
            <result property="scoringStrategy" column="scoring_strategy" />
            <result property="reviewStatus" column="review_status" />
            <result property="reviewMessage" column="review_message" />
            <result property="reviewerId" column="reviewer_id" />
            <result property="reviewTime" column="review_time" />
            <result property="userId" column="user_id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,app_name,app_desc,app_icon,app_type,scoring_strategy,
        review_status,review_message,reviewer_id,review_time,user_id,
        create_time,update_time,is_delete
    </sql>
</mapper>
