<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.ScoringResultMapper">

    <resultMap id="BaseResultMap" type="com.answer.model.entity.ScoringResult">
            <id property="id" column="id" />
            <result property="resultName" column="result_name" />
            <result property="resultDesc" column="result_desc" />
            <result property="resultPicture" column="result_picture" />
            <result property="resultProp" column="result_prop" />
            <result property="resultScoreRange" column="result_score_range" />
            <result property="appId" column="app_id" />
            <result property="userId" column="user_id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,resultName,resultDesc,resultPicture,resultProp,resultScoreRange,
        appId,userId,createTime,updateTime,isDelete
    </sql>
</mapper>
